*{
    max-width: 1448px;
    margin: auto;
    padding: 0;
    background-color:#C9D1D7;
    box-sizing: border-box; 
}

/*UPPER PART (Header) where is navigation+ */


header{
    background-color: #2D3E49;
    /*justify-content: space-between;*/ 
    width: 1448px;
    height: 53px;
    
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
}

.headerForm{
    height: 32px;
    width: 280px; 
    border-radius: 4px;
    margin-left: 15px;
    
}

nav{
    background-color: #2D3E49;
    text-align: center; 
    display: flex;
    align-items: center;
    height: 53px;
    /*justify-content: space-between;*/
}

nav a{
    background-color: #2D3E49; 
    margin: 3px 15px 1px;
    text-decoration: none;
    color: #C9D1D7;
}

nav img{
    height: 19px;
}

.navElemBackground{
    background-color: #2D3E49;
}

.MyNetworkWidth{
    width: 80px;
}

.MeWidth{
    width: 40px;
}

.WorkWidth{
    width: 50px;
}

.Line{
    width: 1px;
    height: 48px;
}
.Arrow{
    width: 12.12px;
    height: 6.75px;
}
    

.headerText{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #C9D1D7;
    text-decoration: none;
}

.headerLeftMargin{
    margin-left: 159.5px;
}

.headerNavMargin{
    margin-left: 25px;
}

.headerRightMarginPlus{
    color:#D8CDA8;
    width: 159.5px;
   
}


/*Text below Header*/

h1{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%x;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 15px;
}

.h1Span_1{
    color: rgb(65, 65, 224);
}

.h1Span_2{
    font-weight:lighter; 
    font-size: 10px;
}


/*MAIN part*/

main{
    margin-left: 159.5px;
    margin-right: 159.5px;
    width: 1129px;
    height: 350px;
    background-color: rgba(255, 255, 255);
}

.MainPic{
    width: 100%;
    height: 200px;
}

.LittlePic{
    margin-left: 7%;
    margin-top: -52px;
    position: relative;    
}

.Name{
    margin-left: 200px;
    margin-top: -50px;
    width: fit-content;
    background-color: rgba(255, 255, 255);
}

.NameText_1{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;    
    color: #191919;
    background-color: white;
}

.NameText_2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
    background-color: white;
}

.Following{
    margin-left: 800px;
    margin-top: -40px;
    width: 280px;
    text-align: right;
    background-color: white;      
}

.FollowingText_1{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #606F7B;
    background-color: white;
}

.FollowingText_2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #191919;
    background-color: white;
}

.FollowingText_3{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #3072AC;
    background-color: white;
}

.mainButtonVisitWeb{
    width: 146px;
    height: 32px;
    background: #3072AC;
    border-radius: 2px;
    margin-left: 55px;
}

.mainButtonVisitWeb_VertPos{
    margin-top: -19px;
    background-color: white;
}

.mainButtonVisitWebText{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 143px;
    height: 29px;
    background: #3072AC;
    border-radius: 2px;
}


/*SECTION part*/

section{
    margin-top: 20px;
    margin-left: 152px;
    width: 1129px;
    display: flex;
    justify-content: space-between;
}

/*Section - LEFT*/

.sectionLeft{
    display: flex;
    flex-direction: column;
    width: 217px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #3072AC;
    background-color: white;
    margin-top: 30px;
}

.sectionLeftText{
    width: 217px;
    background-color: white;
    margin-top: 1px;
    text-decoration: none;
    height: 35px;
    padding: 10px;
    border-bottom:1px solid #C9D1D7;
}

/*Section - MIDDLE - te raksta stilu vidum */

.middleCol{
    display: flex;
    flex-direction: column;
    width: 552px;
}

.buttonAll{ 
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

    width: 44px;
    height: 33px;
    background: #606F7B;
    border-radius: 100px;
    border: none;

    margin-top: 10px;
    margin-bottom: 10px;
}

.otherButtons{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #707070;
    
    width: 100px;
    height: 33px;
    background: #E1E5E8;
    border-radius: 100px;
    border: none;

    margin-top: 10px;
    margin-bottom: 10px;
}

.SortBy{
    width: 43px;
    height: 14px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #707070;
    margin-left: 20px;
    
}

.SortBy_Top{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #191919;
    margin-left: 10px;
}


/* Trīs vidējie bloki */

.middleColumnContainer{
    margin-top: 20px;
    width: 552px;
    height: 525px;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.mcContup1{
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
}

.SmallTopicPic{
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    float: left;
}

.mcName{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #191919;
    background-color: white;
}

.mc623{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #707070;
    background-color: white;
}

.mcMainText{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.025em;
    color: #191919;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.mcMainLink{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 133.8%;
    color: #3072AC;
    background-color: white;
    text-decoration: none;   
    margin-left: 10px; 
}

h4{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    background-color: white;
    border-bottom: 0.1px solid #c7c7c7;
}

.mcSmallText{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #707070;
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    background-color: white;
    border-bottom: 0.1px solid #c7c7c7;
}

.imgLikeComShare{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #707070;
    background-color: white;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.imgLikeComShare_bckgr{
    background-color: white;
}


/*Section - RIGHT - te raksta stilu labai kolonnai */

aside{
    display: flex;
    flex-direction: column;
    width: 311px;
    margin-top: 30px;    
}

/* Section - RIGHT - 1st box */

.sideCont1{
    width: 311px;
    height: 258px;
    background-color: white;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.015em;
    color: #707070;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.rightSidePics{
    display: inline;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;    
}

.sideButtonFollow{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #3072AC;

    width: 81px;
    height: 32px;
    border: 1px solid #3072AC;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: white;
}

.sideContText1{
    background-color: white;
}

/* Section - RIGHT - 2nd box */

.sideCont2{
    width: 311px;
    height: 326px;
    background-color: white;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.015em;
    color: #707070;
}

h2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #191919;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sideCont2_smallCont{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
    border-bottom: 0.1px solid #DDDDDD;
}

.sideContSmallPic{
    display: inline;
}

.sideCont2_Text1{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 133.8%;
    color: #191919;
    background-color: white;
    margin-left: 65px;
    margin-top: -50px;
}

.sideCont2_Text2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #707070;
    background-color: white;
    margin-left: 65px;
}

.sideCont2_Follow{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 133.8%;
    color: #3072AC;
    background-color: white;
    text-decoration: none;
    margin-left: 220px;
}

.sideCont2_ShowMore{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 133.8%;
    color: #3072AC;
    background-color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


.bcgr234{
    background-color: white;
}